server {
    listen 80;
    listen [::]:80;

    server_name mpt-chat-gpt.mephisto.aufederal2022.com www.mpt-chat-gpt.mephisto.aufederal2022.com;

    location / {
        proxy_pass http://mpt-chat-gpt;
        include proxy_params;
        # add_header 'Access-Control-Allow-Origin' 'localhost:5501';
        # add_header Access-Control-Allow-Origin "*.mephisto.aufederal2022.com";
        add_header Content-Security-Policy "frame-ancestors localhost:5501 *.mephisto.aufederal2022.com";
    }
}